<body>
<center><canvas id="c"></canvas>
<br><br>
<center>
Level: <span id="level">1</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Moves: <span id="moves">0</span>
<br><br>
Controls:
<br> mouse or uihknm or numpad keys with numlock off
<br> 'z' to undo.
</center>
<script src="jquery.js"></script>
<script src="a.js"></script>
</body>
